<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog phx-modal-task modal-dialog-centered" role="document">
    <div class="modal-content phx-modal-content phx-modal-position">
      <div class="modal-header">
        <h5 class="modal-title task-title">Edit Task</h5>
        <button aria-label="Close" class="rc-close" (click)="cancelEditTask()" data-dismiss="modal" type="button">
          <span aria-hidden="true" class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body phx-modal-body">
        <form name="EditTaskForm" #EditTaskForm="ngForm">
          <div class="row">
            <div class="form-group col-12 col-md-12">
              <label class="required" for="TaskName">Task Name</label>
              <div>
                <input type="text" name="TaskName" #TaskName="ngModel" [ngModelOptions]="{standalone:true}"
                  [(ngModel)]="filteredObject.TaskName" class="form-control phx-taskname" placeholder=""
                  title="{{filteredObject.TaskName}}" tabindex="0" required>
              </div>
              <span
                *ngIf="(TaskName.dirty || TaskName.touched || TaskName.untouched) && TaskName.invalid && TaskName.errors.required"
                class="phx-modal-error">
                Task Name is required
              </span>
            </div>
          </div>
          <div class="row">
            <div class="form-group phx-mb col-12 col-md-12">
              <label class="required" for="ProjectName">Project Name</label>
              <div class="phx-dropdown dropdown">
                <div class="form-control phx-form-control phx-dropdown-toggle dropdown-toggle" id="ProjectName"
                  title="{{filteredObject.ProjectName}}" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" (click)="populateProjects()">
                  {{filteredObject.ProjectName}}
                </div>
                <div class="phx-dropdown-menu dropdown-menu" aria-labelledby="ProjectName">
                  <div class="phx-drop-item" *ngFor="let optionvalue of projects"
                    (click)="selectProject('Project', optionvalue)">
                    <a class="phx-drop-item-header">
                      {{optionvalue}}
                    </a>
                  </div>
                </div>
              </div>
              <span *ngIf="selectedProject == 'Select Project'" class="phx-modal-error">
                Project Name is required
              </span>
            </div>
          </div>
          <div class="row">
            <div class="form-group phx-mb col-12 col-md-12">
              <label for="Comments">Comments</label>
              <textarea type="text" name="Comments" #Comments="ngModel" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="filteredObject.Comments" class="phx-txtarea" placeholder=""
                title="{{filteredObject.Comments}}" rows="3"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer phx-modal-footer">
        <div class="row mb-20">
          <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel" (click)="cancelEditTask()">
          <input type="button" class="btn btn-primary" data-dismiss="modal" value="Save"
            (click)="editTask(EditTaskForm)" [disabled]="checkMandatoryValForEdit() || EditTaskForm.invalid">
        </div>
      </div>
    </div>
    <!-- modal-content -->
  </div>
  <!-- modal-dialog -->
</div>